@model DAL.Models.Hotel

@{
    ViewData["Title"] = "Rate";
}

<h1 class="text-center title">Ocjeni hotel</h1>

<hr />
<div class="d-flex justify-content-center">
    <div class="row w-30">
        <div class="col">
            <form asp-action="Rate" method="post">
                 <div class="form-group">
                    <input asp-for="HotelId" class="form-control" hidden/>
                </div>
                <div class="form-group">
                    <label for="ocjena" class="control-label">Unesite ocjenu:</label>
                    <input id="ocjena" name="ocjena" type="number" min="0" max="5" class="form-control" />
                </div>
                <div class="form-group submit-btn">
                    <input type="submit" value="Ocjeni" class="btn btn-primary" />
                </div>
                <div>
                    <a asp-action="Index">Povratak</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
